body {
  color: #222;
  margin: 0;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 10px;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 15px;
}

div.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  div.post {
    grid-template-columns: 0.9fr 1.1fr;
  }
}

div.post div.texts h2 {
  margin: 0;
  font-size: 1.8rem;
}

div.post p.info {
  margin: 0;
  color: #aaa;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

div.post div.texts a {
  text-decoration: none;
  color: inherit;
}
div.post p.info a.author {
  color: #333;
}

div.post p.summary {
  margin: 10px 0;
  line-height: 1.4rem;
}

form.login h1,
form.register h1 {
  max-width: 400px;
}

form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-family: "Arial", sans-serif;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #777;
  box-shadow: 0 0 8px rgba(119, 119, 119, 0.3);
  outline: none;
}

button {
  display: block;
  background-color: #555;
  border: none;
  color: #fff;
  padding: 12px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.texts h2 {
  padding-bottom: 3px;
  margin: 0 0 5px;
}

.texts .info {
  margin: 0;
  color: #aaa;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  gap: 5px;
}

.texts .info a.author {
  color: #333;
  margin-right: 5px;
}

div.post-page div.image {
  max-height: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

div.post-page div.image img {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

div.post-page a {
  color: #333;
  text-decoration: underline;
}

div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
}

div.post-page time {
  color: #aaa;
  font-size: 0.7rem;
  font-weight: bold;
  gap: 10px;
  text-align: center;
  display: block;
}

div.post-page div.author {
  text-align: center;
  margin: 10px 20px 20px 20px;
  font-size: 1rem;
  font-weight: bold;
}

div.post-page div.content p {
  line-height: 1.6rem;
}

div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}

div.post-page a.edit-btn {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-decoration: none;
  display: inline-flex;
  border-radius: 5px;
  align-items: center;
  gap: 5px;
}

a svg {
  height: 20px;
}

@media (max-width: 480px) {
  form {
    margin: 20px;
    padding: 15px;
  }

  input,
  button {
    font-size: 16px;
  }

  div.post {
    grid-template-columns: 1fr;
  }
}
